  body { font-family: sans-serif; padding: 10px; max-width: 95%; margin: auto; overflow-x: hidden; overflow-wrap: break-word;}
  h2 { margin-top:0.3em; margin-bottom:0.75em;}
  h3 { margin-bottom:0em; margin-top:0.5em;}
  label { display: block; margin-top: 0em; word-break: break-word; }
  input { margin: 2px; }
  input#dA { width: 2em;}
  input#dB { width: 2em;}
  input#deltaCustom { width: 2.2em;}
  input#speedB { width: 6em;}
  button { font-size: large;font-weight: 500; margin-top: 1em; padding: 0.5em 0.5em; vertical-align: bottom; height: 2em; text-box:auto;}
  table { border-collapse: collapse; margin-top: 0.5em; overflow-x: auto; max-width:90%;}
  th, td { border: 1px solid #999; padding: 2px; text-align: center; }
  .tate { transform   : scaleX(0.6); }
  td.diff { font-size: small; color: #ff1e1e; }
  th { background-color: #f0f0f0; font-weight: 400; }
  .result { margin-top: 1em; }

  .timer-item { margin-bottom: 0.5em; }
  .remain { color: red; margin-left: 10px; }
  .notify {
    background: #ffefc1;
    border: 1px solid #e0c060;
    padding: 8px;
    margin: 8px 0;
    border-radius: 6px;
  }
